<%- include("./partials/tabs.ejs") %>

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Main</a>
    <a class="breadcrumb-item" href="#">Sub</a>
    <span class="breadcrumb-item active" aria-current="page"><%-category.Categories_NameoftheCategory%></span>
</nav>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
     
    <% if (category != ''){%>
     <% category.forEach(function(book,index){ %>
       <a href="/about/<%-book._id%>" class="category_link">
         <div class="imageLink2">
           <img src="/images/<%-book.Image%>" alt="an image" style="height: 400px;">
         </div>
         <div class="pt-1"><%-book.Nameofthebook%></div>
         <div class="pt-1"><p>by Author<%-book.Author%></p></div>
       </a>
      <%})%>
 
    <%}else{ %>
        <p>The book will be published soon</p>
        <%}%>
 </div>