<%-include("./partials/tabs.ejs") %>
<%if(specifiedbook != null){%>
    <nav class="breadcrumb mt-4">
        <a class="breadcrumb-item" href="/">Main</a>
        <a class="breadcrumb-item" href="/categories/<%-specifiedbook.Categories_NameoftheCategory%>"><%-specifiedbook.Categories_NameoftheCategory%></a>
        <span class="breadcrumb-item active" aria-current="page"><%- specifiedbook.Nameofthebook%></span>
    </nav> 

   <div class="row">
    <div class="col-12 col-md-4">
        <img src="/images/<%-specifiedbook.Image%>" alt="<%-specifiedbook.Nameofthebook%>" style="top: 20px; height: 500px; width: 100%; z-index: -1;"  class="img-fluid sticky-top" loading="lazy">
    </div>
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"><h1><%-specifiedbook.Nameofthebook%></h1></div>
                <div class="col-12 mb-2"><i class="fas fa-tag"></i><%-specifiedbook.Categories_NameoftheCategory%></div>
                <div class="col-12 mb-2"><p>by Author:<%-specifiedbook.Author%></p></div>
                <div class="col-12 mb-2"><p>published by:<%-specifiedbook.Publisher%></p></div>
                <div class="col-12 mb-2"><p>published on date:<%-specifiedbook.PublishingDate%></p></div>
                <hr>
                <div class="col-12" style="white-space: pre-line;">
                    <h4>Description</h4>
                    <%- specifiedbook.Description%>
                </div>
                <div class="d-flex gap-4 mt-3 mb-4">
                <button class="btn btn-outline-dark">Purchase</button>
                <button class="btn btn-outline-dark">Purchase</button>    
                </div>
        </div>
    </div>  
   </div>













<%}%>