<%-include("./partials/tabs.ejs") %>
        <!-- introduction cover -->
     <%if (books != ''){%>
       <%books.forEach(function(book,index){%>
          <div class="row  flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
            <div class="col-12 col-lg-6 image-item">
              <img src="/images/<%-book.Image%>" alt="a student reading" width="607" height="510px" class="d-block mx-lg-auto img-fluid" loading="lazy">
            </div>
             <div class="col-12  col-lg-6">
              <h1 class="dispaly-1 fw-bold"><span style="color: orange;line-height: 250%; font-size: 150%;"><%-book.Nameofthebook%></span></h1>
              <p class="lead"><%-book.Description.substring(0,398)%><a href="/about/<%-book._id%>""/a>ReadMore....</p>
              <div class="d-grid gap-4 d-md-flex justify-content-md-center">
                <a href="#" class="btn btn-outline-dark  btn-md px-4"><%-book.Rating%></a>
                <a href="#" class="btn btn-outline-dark  btn-md px-4">Login</a>
              </div>
          
             </div>
           </div>
          </div>
      <%})%>
     <%}%>
    
      <!-- category item -->

   <div class="container">
    <section class="mt-5">
      <div class="d-flex justify-content-md-center">
        <h1 class="display-3 fw-bolder">Categories</h1>
      <a href="/categories" class="ms-auto"><span style="line-height: 150%;">view more</span></a>
      </div>
     </section>
  
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
     
     <% if (categories != ''){%>
      <% categories.forEach(function(category,index){ %>
        <a href="/categories/<%-category.Nameofthecategory%>" class="category_link">
          <div class="imageLink">
            <img src="/images/<%-category.Image%>" alt="an image">
          </div>
          <div class="pt-1"><%= category.Nameofthecategory%></div>
        </a>
       <%})%>
  
     <%}%>
  </div>
   </div>

   <div class="container">
    <section class="d-flex mt-2">
      <h1 class="display-1">Latest Book</h1>
      <a href="morebooks" class="ms-auto">view more</a>
    </section>
   
     
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 text-center">
    <%if(latest != ''){%>
         <%latest.forEach((latest,index)=>{%>
          <a href="about/<%-latest._id%>" class="latest-book">
            <div class="latest-img">
              <img src="/images/<%-latest.Image%>" alt="<%-latest.Nameofthebook%>">
            </div>
            <h4><%=latest.Nameofthebook%></h4>
           </a>
         <%})%>
    <%}%>
</div>

   </div>