<!-- using the include to place the tabs -->


<%- include("./partials/tabs.ejs") %>

    <section class="book-section">
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-4 text-center">
                <% if(itemsfound !='' ){ %>
                    <%itemsfound.forEach(function(item,index){%>
                        <div class="book-item">
                            <div class="book-item-inner">
                                <a href="/books/<%-item._id%>">
                                    <div class="image-box">
                                        <img src="/images/books/<%-item.image %>" alt="<%-item.name %>"
                                            class="img-thumbnail">
                                    </div>
                                </a>

                                <h4><a href="/books/<%-item._id%>"><%- item.nameofthebook %></a></h4>
                                <div class="author">
                                    <img src="/images/Authors/<%-item.author.image %>"
                                        alt="jake-nackos-IF9TK5Uy-KI-unsplash.jpg" class="author-img">
                                    <span><a href="/author/<%-item.author._id %>"><%-item.author.name %></a></span>
                                    <span>(6.7)</span>
                                </div>
                                <div class="rating-section">
                                    <span class="stars">
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span class="review"><%- item.rating %></span>
                                </div>
                                <div class="mt-3"><a href="#" class="btn btn-outline-success"><%-item.cost %></a></div>
                            </div>
                        </div>

                        <%})%>
                            <% } else{%>
                                <h1 class="display-4 col-lg-12 mt-6">No results found</h1>
                                <%}%>

            </div>
        </div>
    </section>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>